<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DTCM_Automation.project.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <DTCM_Automation.project.Properties.Settings>
      <setting name="OnlineUsername" serializeAs="String">
        <value>CRM365DC\crmadmin</value>
      </setting>
      <setting name="OnlinePassword" serializeAs="String">
        <value>linkP@ss</value>
      </setting>
      <setting name="OnlineCrmUrl" serializeAs="String">
        <value>https://dtcmqc.linkdev.com/main.aspx</value>
      </setting>
      <setting name="BrowserType" serializeAs="String">
        <value>Chrome</value>
      </setting>
      <setting name="CRMAdminUsername" serializeAs="String">
        <value>CRM365DC\crmadmin</value>
      </setting>
      <setting name="CRMAdminPassword" serializeAs="String">
        <value>linkP@ss</value>
      </setting>
      <setting name="Language" serializeAs="String">
        <value />
      </setting>
      <setting name="Frontend_URL" serializeAs="String">
        <value />
      </setting>
      <setting name="Backend_URL" serializeAs="String">
        <value />
      </setting>
      <setting name="SENDGRID_API_KEY" serializeAs="String">
        <value />
      </setting>
      <setting name="FromMail" serializeAs="String">
        <value />
      </setting>
      <setting name="timeToWaitInMinutes" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="RunHeadless" serializeAs="String">
        <value>False</value>
      </setting>
    </DTCM_Automation.project.Properties.Settings>
  </userSettings>
</configuration>